/*/ Author:		Yvonne Ryan - C00263872	
	Date:		March 2022
	Title:		table.css
	Purpose:	Style all tables used
/*/

table, th, td {
  	border: 1px solid black;
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
	background-color: white;
	}
	
th, td {
	padding: 15px; 
	}

h1 { 
	text-align: center;
		}
p {
	text-align: center;
	font-size: large;
		}
	